* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* Scrollbar------------- */
::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #ff0029;
  border-radius: 5rem;
}

body {
  padding-top: 70px;
  overflow-x: hidden;
}

/* Navbar Section */
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #000;
}
header.sticky {
  background: #000;
  border-bottom: 1px solid #000;
  padding: 12px 10%;
}
header .logo img {
  width: 120px;
}
header .navlist li {
  position: relative;
}

.navlist {
  display: flex;
  color: #fff;
}
.navlist a {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.5s;
  animation: slideAnimation 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  opacity: 0;
  position: relative;
  font-size: 20px;
  line-height: 28.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.navlist a:hover {
  color: #ff0029;
}
header .navlist a.active {
  font-weight: bold;
  color: #ff0029;
  position: relative;
}

header .navlist a.active::after {
  content: "";
  position: absolute;
  left: 19px;
  bottom: 5px;
  height: 2px;
  width: 41%;
  background-color: #ff0029;
  transition: width 0.3s ease;
}

header .navlist a:hover::after {
  width: 50%;
}
#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  background: #fff;
  border-radius: 3px;
  color: #000;
  display: none;
}
.navlist a.active {
  font-weight: bold;
  color: #ff0029;
}

/* Background color for Contact Us link */
.nav-link.contact-us {
  background-color: #ff0029;
  color: #fff;
  padding: 5px 25px;
  border-radius: 20px;
  transition: 0.7s ease;
}
.nav-link.contact-us:hover {
  background-color: transparent;
  border: 2px solid #ff0029;
  color: #ff0029;
}

/* Responsiveness */
@media (max-width: 990px) {
  header,
  header.sticky {
    padding: 15px 5%;
  }
  .navlist {
    padding: 8px 15px;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }
  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }
  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: #fff;
    text-align: left;
    padding: 0 5%;

    transition: all 0.7s ease;
  }
  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  header .navlist a.active::after {
    width: 8%;
    bottom: 10px;
  }
  .navlist.open {
    top: 100%;
    display: flex;
  }
}
/* Responsiveness */
@media (max-width: 990px) {
  header,
  header.sticky {
    padding: 15px 5%;
  }
  .navlist {
    padding: 8px 15px;
  }

  .home-content {
    margin-top: 5rem;
  }
  .nav-link.get-involved {
    margin-bottom: 30px;
    width: 50%;
    margin-left: 1.1rem;
  }
  .nav-link.contact-us {
    width: 50%;
    margin-left: 1.1rem;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }
  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }
  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: #fff;
    text-align: left;
    padding: 0 5%;
    transition: all 0.7s ease;
  }
  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .navlist.open {
    top: 100%;
  }
}
/* End of Navbar Section */

/* Home Section-------------- */
/* Hero Section */
.home-section {
  position: relative;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 69px;
}

.hero-section {
  position: relative;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  bottom: 10%;
  left: 5%;
  text-align: left;
}

.carousel-caption h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.carousel-caption p {
  font-size: 1.2rem;
  color: #fff;
}

.carousel-caption .btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Intro Section---- */
.intro-section h1{
  font-size: 2rem;
}
.intro-card-title {
 font-size: 0.9rem;
 font-weight: bold;
}

.intro-card-text p {
 font-size: 0.9rem;
}

/* Photo Section */
#photo-section .bg-dark {
  min-height: 200px;
}

#photo-section img {
  object-fit: cover;
  height: 100%;
}

@media (max-width: 768px) {
  #photo-section .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}






/* Remove carousel controls */
.carousel-control-prev,
.carousel-control-next {
  display: none;
}

@media (max-width: 768px) {
}

/* Animations--------------------- */
/* Navbar Animation Effect---- */
@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
